# =========================================================================
# COVERAGE CONFIGURATION FILE: .coveragerc
# =========================================================================
# LANGUAGE: Python
# =========================================================================

[run]
omit = 
	Lancer/tests/* # Ignore all tests
	Lancer/core/winutils.py # Cannot test on non-Windows platforms
	Lancer/modules/legacy/* # Ignore all of the legacy files
	*__init__* # Ignore the __init__.py files