# =========================================================================
# COVERAGE CONFIGURATION FILE: .coveragerc
# =========================================================================
# LANGUAGE: Python
# =========================================================================

[run]
omit = 
	tests/*
	core/winutils.py
	core/spinner.py
	modules/legacy/*
	*__init__*
	conftest.py
	
	core/localisation.py
	core/CriticalProgramNotInstalled.py
	core/ModuleProvider.py
	modules/FTPAnonymousAccess.py
	modules/Gobuster.py
	modules/Nikto.py
	modules/Nmap.py
	lancer.py
	Test.py